extends /_layout/_default-layout

prepend config-block
  - pageName = 'Members'

append config-block
  - pageId = 'member'
  - rootPath = '../'

block content-block
  main
    each branch, branchName in members
      if branchName === 'kanto'
        h2.heading-branch
          .text
            | WBA 若手の会 関東支部
      if branchName === 'kansai'
        h2.heading-branch
          .text
            | WBA 若手の会 関西支部
      if branchName === 'society'
        h2.heading-branch
          .text
            | WBA 若手の会 社会人支部
      if branchName === 'blockChain'
        h2.heading-branch
          .text
            | WBA 若手の会 ブロックチェーン支部
      .member-list
        each member in branch
          .member-item
            - href = member.link ? `${member.link}` : null
            a.elm-a(href= href)
              .member
                - imgPath = ( member.image.match('^\/\/.+') || member.image.match('^https?:\/\/.+')) ? member.image : `${rootPath}img/member/${member.image}`
                .image(style=`background-image: url(${imgPath}`)

                .cover
                .info
                  .block-status
                    .position
                      = member.position
                    .status
                      = member.status
                  .block-name
                    .name
                      = member.name
                    .name-sub
                      = member.nameSub
