doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        block meta
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name="description", content=description)
            meta(name="keywords", content=keywords)
            meta(name="robots", content=robots)
        title= title
    body
        != contents