.global-footer
  footer
    ul.sns-list
      li.sns-item
        a.elm-a.facebook(href="https://www.facebook.com/groups/713921892010595/", target="_blank")
          | f
          //- i.fa.fa-facebook

    .copyright
      p
        | &copy; Copyright 
        = (new Date()).getFullYear()
        | . WBA Future Leaders All Rights Reserved
