extends /_layout/_default-layout

prepend config-block
  - pageName = 'Publications'

append config-block
  - pageId = 'publication'
  - rootPath = '../'

block content-block
  main
    .front-block
      .index-list.hover-effect
        .index-item
          a(href=`${rootPath}publication/journal/`)
            | ジャーナル
        .index-item
          a(href=`${rootPath}publication/international/`)
            | 国際会議
        .index-item
          a(href=`${rootPath}publication/domestic/`)
            | 国内会議
