extends /_layout/_default-layout

prepend config-block
  - pageName = 'Journal'

append config-block
  - pageId = 'publication-detail'
  - rootPath = '../../'
  - url = `${settings.url}publication/journal/`

block content-block
  main
    .front-block
      +publication-list(bibArr, 'journal')
