extends /_layout/_default-layout

append config-block
  - pageId = 'publication-journal'
  - rootPath = '../../'

block content-block
  main
    .publication-list
      each bib in bibArr
        .publication-item
          + publication(bib)
