extends /_layout/_default-layout

append ConfigBlock
  - pageId = 'sub'
  - rootPath = '../'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header
    h1
      | Sub Page

  main
    p
      | content
