extends /_layout/_default-layout

prepend config-block
  - pageName = 'Domestic'

append config-block
  - pageId = 'publication-detail'
  - rootPath = '../../'
  - url = `${settings.url}publication/domestic/`

block content-block
  main
    .front-block
      .publication-list
        - publicationArr = _.filter(bibArr, function(bib) { return bib.entryTags.type === 'domestic'; });
        each publication in publicationArr
          .publication-item
            +publication(publication)
