@include with-page("about") {
  .front-block {
    @include mq-large {
      width: px(750);

      margin: 0 auto;

      @include clearfix;
    }

    @include mq-small {
      width: px(750);
    }
  }

  .about-block {
    float: left;

    width: px(500);

    padding: 0 px(15);

    color: $sub-font-color;

    .section {
      .heading {
        margin-top: px(30);
        font-family: $montserrat;

        font-size: px(32);

        color: $font-color;
      }
    }

    .subsection {
      .heading {
        font-size: px(19);

        color: $font-color;
      }
    }

    p:not([class]) {
      margin: px(10) 0;
    }

    li:not([class]) {
      list-style-type: disc;
    }
  }

  .lead {
    padding: px(30) px(30);

    border-left: px(3) solid $border-color;

    font-family: $serif;

    font-size: px(17);

    font-style: italic;

    color: $sub-font-color;

    strong {
      font-weight: bold;
    }
  }

  .gallery {
    float: left;

    width: px(250);

    padding: 0 px(15);

    .box {
      .image {
        border-radius: px(4);
        overflow: hidden;

        font-size: 0;

        .elm-img {
          width: px(220);
          height: auto;
        }
      }

      .description {
        margin-top: px(10);

        font-size: px(15);

        color: $sub-font-color;
      }

      + .box {
        margin-top: px(30);
      }
    }
  }
}
