@include with-page("about") {
  .front-block {
    width: px(375);

    @include mq-large {
      width: px(960);

      margin: 0 auto;

      @include clearfix;
    }
  }

  .about-block {
    padding: 0 px(15);

    color: $sub-font-color;

    @include mq-large {
      float: left;

      width: px(710);
    }

    .section {
      .heading {
        margin-top: px(30);
        font-family: $montserrat;

        font-size: px(32);

        color: $font-color;
      }
    }

    .subsection {
      .heading {
        font-size: px(19);

        color: $font-color;
      }
    }

    p:not([class]) {
      margin: px(10) 0;
    }

    li:not([class]) {
      list-style-type: disc;
    }
  }

  .lead {
    padding: px(15) px(15);

    border-left: px(3) solid $border-color;

    font-family: $serif;

    font-style: italic;

    color: $sub-font-color;

    strong {
      font-weight: bold;
    }

    @include mq-large {
      padding: px(30) px(30);

      font-size: px(17);
    }
  }

  .gallery {
    margin-top: px(100);

    padding: 0 px(15);

    @include mq-large {
      float: left;

      margin-top: 0;

      width: px(250);
    }

    .box {
      .image {
        border-radius: px(4);
        overflow: hidden;

        font-size: 0;

        .elm-img {
          width: px(350);
          height: auto;

          @include mq-large {
            width: px(220);
          }
        }
      }

      .description {
        margin-top: px(10);

        font-size: px(15);

        color: $sub-font-color;
      }

      + .box {
        margin-top: px(30);
      }
    }
  }
}
