@include with-page("event") {
  .category-list {
    margin-top: px(30);

    @include mq-large {
      display: flex;

      width: px(960);

      margin: 0 auto;
      margin-top: px(30);
    }
  }

  .category-item {
    display: inline-block;

    + .category-item {
      margin-left: px(10);
    }

    @include mq-large {
      justify-content: flex-start;

      + .category-item {
        margin-left: px(20);
      }
    }

    .elm-a {
      color: $font-color;
    }
  }

  .event-list {
    margin: 0 auto;

    width: px(350);

    text-align: left;

    font-size: 0;

    @include mq-large {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      width: px(960);
      min-height: px(300);

      margin: 0 auto;
      margin-top: px(10);
    }
  }

  .event-item {
    width: px(350);

    overflow: hidden;

    text-align: center;
    vertical-align: top;

    font-size: $base-font-size;

    opacity: 0;
    transform: translateY(px(20));

    &[data-is-show="true"] {
      opacity: 1;
      transform: translateY(0);
    }

    &[data-is-show="false"] {
      width: 0;
      height: 0;

      margin-left: 0;
    }

    &.anim {
      transition:
        opacity 0.7s linear 0s,
        transform 0.5s linear 0s
      ;
    }

    @include mq-large {
      display: inline-block;

      width: px(220);

      margin-left: px(20);
    }
  }

  .event {
    position: relative;

    margin-top: px(20);

    text-align: left;

    .image {
      @extend .wba-hover-zoom;

      width: px(350);
      height: auto;

      @include mq-large {
        width: px(220);
        height: px(165);
      }
    }

    .name {
      margin-top: px(10);

      font-size: px(20);
    }
  }
}
