@include with-page("event-detail") {
  .main {
    padding: px(20);
  }

  h2:not(class) {
    font-size: px(28);
  }

  ul:not(class) {
  }

  li:not(class) {
    list-style-position: inside;
    list-style-type: disc;
  }
}
