@include with-page("home") {
  .sponsor-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .sponsor-item {
    display: flex;
    flex: 0 1 27%;
    align-items: center;
    justify-content: center;

    .elm-img {
      width: px(180);
      height: auto;
    }
  }

  .front-block {
    @include mq-large {
      width: px(750);

      margin: 0 auto;
    }

    @include mq-small {
      width: px(350);

      margin: 0 auto;
    }
  }

  .sec-introduction {
    .welcome {
      color: $font-color;

      font-size: px(26);
    }

    .lead {
      margin-top: px(40);

      color: $sub-font-color;

      font-size: $base-font-size--pc;

      @include mq-small {
        font-size: $base-font-size--sp;
      }
    }
  }

  .section-contents {
    margin-top: px(20);

    .heading {
      font-size: px(26);

      color: $font-color;
    }

    .sub-heading {
      margin-top: px(10);

      color: $sub-font-color;

      font-size: px(16);
    }
  }

  .sec-activity {
    margin-top: px(30);

    .event-list {
      @include mq-large {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
      }

      width: px(700);

      margin-top: px(20);
    }

    .event-item {
      margin-top: px(30);
    }

    .event {
      .image {
        width: px(345);
        height: px(287);

        @include mq-small {
          width: px(350);
          height: auto;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        margin-top: px(15);

        font-size: px(20);
      }
    }

    .btn-more {
      margin-top: px(80);
    }
  }

  .sec-sponsor-event {
    .sponsor-event-list {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;

      width: px(700);

      margin-top: px(20);
    }

    .sponsor-event-item {
      width: px(220);

      margin-top: px(30);

      @include mq-small {
        width: px(375);
      }
    }

    .sponsor-event {
      .image {
        width: px(220);
        height: px(113);

        @include mq-small {
          width: px(375);
          height: auto;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        margin-top: px(15);

        font-size: px(20);
      }
    }

    .btn-more {
      margin-top: px(80);
    }
  }

  .sec-promotion-video {
    width: px(750);

    @include mq-large {
      margin: 0 auto;
      margin-top: px(30);
    }

    @include mq-small {
      margin-top: px(15);

      width: px(375);
    }

    .heading {
      font-size: px(32);
    }

    .video {
      display: block;

      width: px(700);
      height: px(394);

      margin-top: px(10);

      @include mq-large {
        width: px(750);
        height: px(422);
      }

      @include mq-small {
        width: px(375);
        height: px(197);
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sec-news {
    .news-list {
      margin: 0 auto;
      margin-top: px(20);

      width: px(720);
      height: px(200);

      overflow-y: scroll;
    }
  }

  .sec-sponsor {
    .sponsor-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      margin: 0 auto;
      margin-top: px(50);

      width: px(600);

      @include mq-small {
        width: px(360);

        margin-left: px(-10);
      }
    }

    .sponsor-item {
      @include mq-large {
        display: flex;
        flex: 0 1 27%;
        align-items: center;
        justify-content: center;
      }

      @include mq-small {
        display: block;

        margin-left: px(10);
      }

      margin-top: px(50);

      .elm-img {
        width: px(150);
        height: auto;

        @include mq-small {
          width: px(170);
          height: auto;
        }
      }
    }

    .link-join {
      margin-top: px(50);
    }
  }
}
