@include with-page("home") {
  .front-block {
    @include mq-large {
      width: px(960);

      margin: 0 auto;
    }

    @include mq-small {
      width: px(350);

      margin: 0 auto;
    }
  }

  .sec-introduction {
    .welcome {
      color: $font-color;

      font-size: px(26);
    }

    .lead {
      margin-top: px(40);

      color: $sub-font-color;
    }
  }

  .section-contents {
    margin-top: px(20);

    .heading {
      font-size: px(26);

      color: $font-color;
    }

    .sub-heading {
      margin-top: px(10);

      color: $sub-font-color;

      font-size: px(16);
    }
  }

  .sec-activity {
    margin-top: px(30);

    .event-list {
      width: px(350);

      margin-top: px(20);

      font-size: 0;

      @include mq-large {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        width: px(960);

        margin: 0 auto;
        margin-top: px(10);
        margin-left: - px(20);
      }
    }

    .event-item {
      margin-top: px(30);

      font-size: $base-font-size;

      text-align: left;
      vertical-align: top;

      @include mq-large {
        display: inline-block;

        width: px(220);

        margin-left: px(20);
      }
    }

    .event {
      .image {
        width: 100%;
        height: auto;

        .elm-img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        margin-top: px(10);

        font-size: px(20);
      }
    }

    .btn-more {
      margin-top: px(80);
    }
  }

  .sec-sponsor-event {
    .sponsor-event-list {
      width: 100%;

      margin-top: px(20);

      font-size: 0;

      @include mq-large {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        width: px(960);

        margin: 0 auto;
        margin-top: px(10);
        margin-left: - px(20);
      }
    }

    .sponsor-event-item {
      margin-top: px(30);

      text-align: left;
      vertical-align: top;

      font-size: $base-font-size;

      @include mq-large {
        display: inline-block;

        margin-left: px(20);

        width: px(220);
      }
    }

    .sponsor-event {
      .image {
        width: 100%;
        height: auto;

        .elm-img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        margin-top: px(15);

        font-size: px(20);
      }
    }

    .btn-more {
      margin-top: px(80);
    }
  }

  .sec-promotion-video {
    margin: 0 auto;
    margin-top: px(15);

    width: px(350);

    @include mq-large {
      width: px(960);

      margin-top: px(30);
    }

    .heading {
      font-size: px(32);
    }

    .video {
      display: block;

      width: 100%;
      height: px(197);

      margin-top: px(10);

      @include mq-large {
        width: px(960);
        height: px(540);
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sec-news {
    .news-list {
      margin: 0 auto;
      margin-top: px(20);

      width: 100%;
      height: px(200);

      overflow-y: scroll;

      @include mq-large {
        width: px(960);
        height: px(200);
      }
    }
  }

  .sec-sponsor {
    .sponsor-list {
      width: px(380);

      margin-top: px(20);
      margin-left: - px(30);

      font-size: 0;

      @include mq-large {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        width: px(960);

        margin: 0 auto;
        margin-top: px(10);
        margin-left: - px(40);
      }
    }

    .sponsor-item {
      display: inline-block;

      width: px(160);

      margin-top: px(30);
      margin-left: px(30);

      font-size: $base-font-size;

      vertical-align: middle;

      @include mq-large {
        display: inline-block;

        width: px(200);

        margin-left: px(40);
      }

      .image {
        width: 100%;
        height: auto;

        .elm-img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .link-join {
      margin-top: px(50);
    }
  }
}
