@include with-page("member-detail") {
  .front-block {
    width: px(750);

    margin: 0 auto;

    @include clearfix;
  }

  .image {
    float: left;

    width: px(250);

    padding: 0 px(15);

    img {
      width: px(220);
      height: px(220);
    }
  }

  .profile {
    float: left;

    width: px(500);

    padding: 0 px(15);

    .name {
      font-size: px(26);
    }

    .sub-name {
      margin-top: px(10);

      font-size: px(16);
      color: #999;
    }

    .facebook {
      margin: px(20) 0;
    }

    .twitter {
      margin: px(20) 0;
    }

    .body {
      margin-top: px(40);

      color: $sub-font-color;
    }

    h2:not([class]) {
      margin-top: px(10);
      margin-bottom: px(5);

      font-size: px(19);

      color: $font-color;
    }

    ul:not([class]) {
    }

    li:not([class]) {
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}
