@include with-page("sitemap") {
  .block-search {
    margin-top: px(30);

    * {
      box-sizing: content-box;
    }
  }

  .sitemap-list {
    > .item .list {
      padding-left: px(20);

      list-style-type: disc;
    }
  }
}
