@include with-page("sponsor") {
  .heading {
    font-size: px(26);
  }

  .link-join {
    margin-top: px(30);
  }

  .sponsor-list {
    margin-top: px(50);

    width: px(350);

    @include mq-large {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      width: px(960);
    }
  }

  .sponsor-item {
    margin-top: px(50);

    @include mq-large {
      display: flex;
      flex: 0 1 33%;
      align-items: center;
      justify-content: center;
    }

    .image {
      @include mq-large {
        width: px(220);
      }

      .elm-img {
        width: 100%;
        height: auto;
      }
    }
  }
}