extends /_layout/_default-layout

prepend config-block
  - pageName = '404 Not Found'

append config-block
  - pageId = 'sponsor'
  - rootPath = '../'
  - url = `${settings?.url ?? '/'}sponsor/`

block content-block
  main
    .front-block
      p
        | 404 Not Found.
