extends /_layout/_default-layout

append ConfigBlock
  - pageId = 'index'

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  header
    h1
      | Index Page

  main
    p
      | content
