extends /_layout/_default-layout

prepend config-block
  - pageName = 'Sponsors'

append config-block
  - pageId = 'sponsor'
  - rootPath = '../'

block content-block
  main
    .front-block
      h1.heading
        | Sponsors

      .wba-link.link-join
        a.elm-a(href= settings.link_contact, target="_blank")
          | &gt;&gt; 協賛希望の企業様はこちら

      ul.sponsor-list
        each s in sponsor
          li.sponsor-item
            a(href= s.url, target="blank")
              img.elm-img(src= `${rootPath}img/sponsor/${s.image}`, alt= s.name)
