extends /_layout/_default-layout

prepend config-block
  - pageName = 'Sponsors'

append config-block
  - pageId = 'sponsor'
  - rootPath = '../'
  - url = `${settings.url}sponsor/`
  -
    breadcrumbArr = [
      {
        name: pageName,
      },
    ];

block content-block
  main
    .front-block
      .wba-link.link-join
        a.elm-a(href="/contact/", target="_blank")
          | &gt;&gt; 協賛希望の企業様はこちら

      .sponsor-list
        each s in sponsor
          .sponsor-item
            a(href= s.url, target="blank")
              .image
                img.elm-img(src= `${rootPath}img/sponsor/${s.image}`, alt= s.name)
