@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif;
  line-height: 1.5; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem; }

html {
  font-size: 100px; }
  html.is-sp html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-tab html {
    font-size: 15px;
    font-size: 0.15rem; }

body {
  font-family: YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.5; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.5; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: blue;
  text-decoration: underline; }

.wba-latest-events .item {
  margin: 20px 0;
  margin: 0.2rem 0; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 1200px;
  min-width: 12rem;
  overflow: hidden; }

body[data-page-id="home"] .sponsor-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

body[data-page-id="home"] .sponsor-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 27%;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  body[data-page-id="home"] .sponsor-item .elm-img {
    width: 360px;
    width: 3.6rem;
    height: auto; }

body[data-page-id="member-detail"] .main {
  padding: 20px;
  padding: 0.2rem; }

body[data-page-id="member-detail"] .name {
  font-size: 36px;
  font-size: 0.36rem; }

body[data-page-id="member-detail"] .sub-name {
  font-size: 36px;
  font-size: 0.36rem;
  color: #999; }

body[data-page-id="member-detail"] .facebook {
  margin: 20px 0;
  margin: 0.2rem 0; }

body[data-page-id="member-detail"] .twitter {
  margin: 20px 0;
  margin: 0.2rem 0; }

body[data-page-id="member-detail"] h2:not(class) {
  font-size: 28px;
  font-size: 0.28rem; }

body[data-page-id="member-detail"] li:not(class) {
  list-style-position: inside;
  list-style-type: disc; }

body[data-page-id="sponsor"] .sponsor-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

body[data-page-id="sponsor"] .sponsor-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 27%;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  body[data-page-id="sponsor"] .sponsor-item .elm-img {
    width: 360px;
    width: 3.6rem;
    height: auto; }
