@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.display-none {
  display: none; }

html.is-pc .pc-none {
  display: none; }

html.is-sp .sp-none {
  display: none; }

body {
  font-family: Karla, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif;
  line-height: 1.5; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem; }

html {
  font-size: 100px; }
  html.is-sp html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-pc html {
    font-size: 15px;
    font-size: 0.15rem; }
  html.is-tab html {
    font-size: 15px;
    font-size: 0.15rem; }

body {
  font-family: Karla, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif; }
  html.is-sp body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.3; }
  html.is-pc body {
    font-size: 15px;
    font-size: 0.15rem;
    line-height: 1.3; }

main {
  display: block; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit; }

.global-footer {
  margin-top: 100px;
  margin-top: 1rem;
  padding-top: 50px;
  padding-top: 0.5rem;
  padding-bottom: 50px;
  padding-bottom: 0.5rem;
  text-align: center;
  background-color: #eeeeee; }
  .global-footer .sns-list {
    font-size: 0;
    text-align: center; }
  .global-footer .sns-item {
    display: inline-block;
    width: 40px;
    width: 0.4rem;
    height: 40px;
    height: 0.4rem;
    border-radius: 50%;
    line-height: 40px;
    line-height: 0.4rem;
    text-align: center;
    font-size: 20px;
    font-size: 0.2rem;
    color: #333333;
    background-color: #ffffff;
    overflow: hidden; }
    .global-footer .sns-item .elm-a {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      transition: background-color linear 0.1s; }
      .global-footer .sns-item .elm-a:hover {
        background-color: #d5d5d5; }
  .global-footer .copyright {
    margin-top: 30px;
    margin-top: 0.3rem;
    font-size: 15px;
    font-size: 0.15rem;
    color: #898989; }

.wba-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* 子要素をflexboxで揃える */
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 子要素をflexboxにより縦方向に揃える */
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 子要素をflexboxにより中央に配置する */
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* 子要素をflexboxにより中央に配置する */ }
  .wba-button .elm-button,
  .wba-button .elm-a {
    display: inline-block;
    min-width: 200px;
    min-width: 2rem;
    max-width: 300px;
    max-width: 3rem;
    padding: 14px 20px;
    padding: 0.14rem 0.2rem;
    text-align: center;
    font-size: 14px;
    font-size: 0.14rem;
    border: 2px solid;
    border: 0.02rem solid;
    border-color: #e8e8e8;
    transition: border-color 0.1s linear;
    color: #898989;
    background-color: #ffffff; }
    .wba-button .elm-button:hover,
    .wba-button .elm-a:hover {
      border-color: #d0d0d0; }

.wba-global-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
  width: 7.5rem;
  margin: 0 auto;
  margin-top: 50px;
  margin-top: 0.5rem;
  margin-bottom: 50px;
  margin-bottom: 0.5rem; }
  .wba-global-nav .logo {
    width: 200px;
    width: 2rem;
    height: 77px;
    height: 0.77rem; }
    .wba-global-nav .logo img {
      width: 100%;
      height: 100%; }
  .wba-global-nav .menu-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 40px;
    margin-left: 0.4rem; }
  .wba-global-nav .menu-item + .menu-item {
    margin-left: 30px;
    margin-left: 0.3rem; }

.wba-latest-events .item {
  margin: 20px 0;
  margin: 0.2rem 0; }

.wba-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* 子要素をflexboxで揃える */
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 子要素をflexboxにより縦方向に揃える */
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 子要素をflexboxにより中央に配置する */
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* 子要素をflexboxにより中央に配置する */ }
  .wba-link .elm-a {
    display: inline-block;
    max-width: 300px;
    max-width: 3rem;
    padding: 14px 20px;
    padding: 0.14rem 0.2rem;
    font-size: 14px;
    font-size: 0.14rem;
    border-radius: 0.04rem;
    color: #2b2b2b;
    background-color: #f7f7f7;
    transition: background-color 0.1s linear; }
    .wba-link .elm-a:hover {
      background-color: #e8e8e8; }

html.is-sp .wrapper {
  overflow: hidden; }

html.is-pc .wrapper {
  width: 100%;
  min-width: 750px;
  min-width: 7.5rem;
  overflow: hidden; }

body[data-page-id="event-detail"] .front-block {
  width: 750px;
  width: 7.5rem;
  margin: 0 auto; }

body[data-page-id="event-detail"] .body {
  color: #898989; }

body[data-page-id="event-detail"] h1:not([class]) {
  font-size: 26px;
  font-size: 0.26rem;
  color: #333333; }

body[data-page-id="event-detail"] h2:not([class]) {
  font-size: 24px;
  font-size: 0.24rem;
  color: #333333; }

body[data-page-id="event-detail"] h3:not([class]) {
  font-size: 20px;
  font-size: 0.2rem;
  color: #333333; }

body[data-page-id="event-detail"] p:not([class]) {
  margin: 30px 0;
  margin: 0.3rem 0; }

body[data-page-id="event-detail"] li:not([class]) {
  list-style-position: inside;
  list-style-type: disc; }

body[data-page-id="event"] .category-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 750px;
  width: 7.5rem;
  margin: 0 auto; }

body[data-page-id="event"] .category-item {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  body[data-page-id="event"] .category-item + .category-item {
    margin-left: 20px;
    margin-left: 0.2rem; }

body[data-page-id="event"] .event-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 750px;
  width: 7.5rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-top: 0.1rem; }

body[data-page-id="event"] .event-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 33%;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

body[data-page-id="event"] .event {
  position: relative;
  margin-top: 20px;
  margin-top: 0.2rem; }
  body[data-page-id="event"] .event .image {
    display: block;
    width: 220px;
    width: 2.2rem;
    height: 183px;
    height: 1.83rem; }
    body[data-page-id="event"] .event .image img {
      width: 100%;
      height: 100%; }
  body[data-page-id="event"] .event .name {
    margin-top: 20px;
    margin-top: 0.2rem;
    font-size: 20px;
    font-size: 0.2rem; }

body[data-page-id="home"] .sponsor-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

body[data-page-id="home"] .sponsor-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 27%;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  body[data-page-id="home"] .sponsor-item .elm-img {
    width: 360px;
    width: 3.6rem;
    height: auto; }

body[data-page-id="home"] .flont-block {
  width: 750px;
  width: 7.5rem;
  margin: 0 auto; }

body[data-page-id="home"] .sec-introduction .welcome {
  color: #333333;
  font-size: 26px;
  font-size: 0.26rem; }

body[data-page-id="home"] .sec-introduction .lead {
  margin-top: 40px;
  margin-top: 0.4rem;
  color: #898989;
  font-size: 15px;
  font-size: 0.15rem; }

body[data-page-id="home"] .section-contents {
  margin-top: 20px;
  margin-top: 0.2rem; }
  body[data-page-id="home"] .section-contents .heading {
    font-size: 26px;
    font-size: 0.26rem;
    color: #333333; }
  body[data-page-id="home"] .section-contents .sub-heading {
    margin-top: 10px;
    margin-top: 0.1rem;
    color: #898989;
    font-size: 16px;
    font-size: 0.16rem; }

body[data-page-id="home"] .sec-activity {
  margin-top: 30px;
  margin-top: 0.3rem; }
  body[data-page-id="home"] .sec-activity .event-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 700px;
    width: 7rem;
    margin-top: 20px;
    margin-top: 0.2rem; }
  body[data-page-id="home"] .sec-activity .event-item {
    margin-top: 30px;
    margin-top: 0.3rem; }
  body[data-page-id="home"] .sec-activity .event .image {
    width: 345px;
    width: 3.45rem;
    height: 287px;
    height: 2.87rem; }
    body[data-page-id="home"] .sec-activity .event .image img {
      width: 100%;
      height: 100%; }
  body[data-page-id="home"] .sec-activity .event .name {
    margin-top: 15px;
    margin-top: 0.15rem;
    font-size: 20px;
    font-size: 0.2rem; }
  body[data-page-id="home"] .sec-activity .btn-more {
    margin-top: 80px;
    margin-top: 0.8rem; }

body[data-page-id="home"] .sec-sponsor-event .sponsor-event-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 700px;
  width: 7rem;
  margin-top: 20px;
  margin-top: 0.2rem; }

body[data-page-id="home"] .sec-sponsor-event .sponsor-event-item {
  width: 220px;
  width: 2.2rem;
  margin-top: 30px;
  margin-top: 0.3rem; }

body[data-page-id="home"] .sec-sponsor-event .sponsor-event .image {
  width: 220px;
  width: 2.2rem;
  height: 112.999px;
  height: 1.13rem; }
  body[data-page-id="home"] .sec-sponsor-event .sponsor-event .image img {
    width: 100%;
    height: 100%; }

body[data-page-id="home"] .sec-sponsor-event .sponsor-event .name {
  margin-top: 15px;
  margin-top: 0.15rem;
  font-size: 20px;
  font-size: 0.2rem; }

body[data-page-id="home"] .sec-sponsor-event .btn-more {
  margin-top: 80px;
  margin-top: 0.8rem; }

body[data-page-id="home"] .sec-promotion-video {
  width: 320px;
  width: 3.2rem;
  margin: 0 auto;
  margin-top: 30px;
  margin-top: 0.3rem; }
  body[data-page-id="home"] .sec-promotion-video .heading {
    font-size: 32px;
    font-size: 0.32rem; }
  body[data-page-id="home"] .sec-promotion-video .video {
    display: block;
    width: 320px;
    width: 3.2rem;
    height: 180px;
    height: 1.8rem;
    margin-top: 10px;
    margin-top: 0.1rem; }
    body[data-page-id="home"] .sec-promotion-video .video iframe {
      width: 100%;
      height: 100%; }

body[data-page-id="home"] .sec-news .news_list {
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 0.2rem;
  width: 720px;
  width: 7.2rem;
  height: 200px;
  height: 2rem;
  overflow-y: scroll; }

body[data-page-id="home"] .sec-sponsor .sponsor-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
  margin-top: 0.5rem;
  width: 600px;
  width: 6rem; }

body[data-page-id="home"] .sec-sponsor .sponsor-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 27%;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-top: 0.5rem; }
  body[data-page-id="home"] .sec-sponsor .sponsor-item .elm-img {
    width: 150px;
    width: 1.5rem;
    height: auto; }

body[data-page-id="home"] .sec-sponsor .link-join {
  margin-top: 50px;
  margin-top: 0.5rem; }

body[data-page-id="member-detail"] .front-block {
  width: 750px;
  width: 7.5rem;
  margin: 0 auto; }
  body[data-page-id="member-detail"] .front-block:after {
    content: "";
    display: table;
    clear: both; }

body[data-page-id="member-detail"] .image {
  float: left;
  width: 250px;
  width: 2.5rem;
  padding: 0 15px;
  padding: 0 0.15rem; }
  body[data-page-id="member-detail"] .image img {
    width: 220px;
    width: 2.2rem;
    height: 220px;
    height: 2.2rem; }

body[data-page-id="member-detail"] .profile {
  float: left;
  width: 500px;
  width: 5rem;
  padding: 0 15px;
  padding: 0 0.15rem; }
  body[data-page-id="member-detail"] .profile .name {
    font-size: 26px;
    font-size: 0.26rem; }
  body[data-page-id="member-detail"] .profile .sub-name {
    margin-top: 10px;
    margin-top: 0.1rem;
    font-size: 16px;
    font-size: 0.16rem;
    color: #999; }
  body[data-page-id="member-detail"] .profile .facebook {
    margin: 20px 0;
    margin: 0.2rem 0; }
  body[data-page-id="member-detail"] .profile .twitter {
    margin: 20px 0;
    margin: 0.2rem 0; }
  body[data-page-id="member-detail"] .profile .body {
    margin-top: 40px;
    margin-top: 0.4rem;
    color: #898989; }
  body[data-page-id="member-detail"] .profile h2:not([class]) {
    margin-top: 10px;
    margin-top: 0.1rem;
    margin-bottom: 5px;
    margin-bottom: 0.05rem;
    font-size: 19px;
    font-size: 0.19rem;
    color: #333333; }
  body[data-page-id="member-detail"] .profile li:not([class]) {
    list-style-position: inside;
    list-style-type: disc; }

body[data-page-id="member"] .heading-branch {
  position: relative;
  width: 750px;
  width: 7.5rem;
  margin: 0 auto;
  margin-top: 30px;
  margin-top: 0.3rem;
  font-size: 15px;
  font-size: 0.15rem;
  text-align: center; }
  body[data-page-id="member"] .heading-branch:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #ebebeb; }
  body[data-page-id="member"] .heading-branch .text {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    padding: 0 0.1rem;
    background-color: #fff; }

body[data-page-id="member"] .member-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 750px;
  width: 7.5rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-top: 0.1rem; }

body[data-page-id="member"] .member-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

body[data-page-id="member"] .member {
  position: relative;
  width: 360px;
  width: 3.6rem;
  height: 360px;
  height: 3.6rem;
  margin-top: 20px;
  margin-top: 0.2rem; }
  body[data-page-id="member"] .member:hover .cover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
  body[data-page-id="member"] .member:hover .info {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  body[data-page-id="member"] .member .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover; }
  body[data-page-id="member"] .member .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00b19e;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity 0.2s linear; }
  body[data-page-id="member"] .member .info {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #ffffff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity 0.2s linear; }
    body[data-page-id="member"] .member .info .block-status {
      position: absolute;
      top: 40px;
      top: 0.4rem;
      left: 40px;
      left: 0.4rem; }
    body[data-page-id="member"] .member .info .block-name {
      position: absolute;
      bottom: 40px;
      bottom: 0.4rem;
      left: 40px;
      left: 0.4rem; }
    body[data-page-id="member"] .member .info .position {
      font-size: 15px;
      font-size: 0.15rem; }
    body[data-page-id="member"] .member .info .status {
      font-size: 15px;
      font-size: 0.15rem; }
    body[data-page-id="member"] .member .info .name {
      font-size: 22px;
      font-size: 0.22rem; }
    body[data-page-id="member"] .member .info .name-sub {
      font-size: 15px;
      font-size: 0.15rem; }

body[data-page-id="sponsor"] .front-block {
  width: 750px;
  width: 7.5rem;
  margin: 0 auto;
  padding-top: 30px;
  padding-top: 0.3rem; }

body[data-page-id="sponsor"] .heading {
  font-size: 26px;
  font-size: 0.26rem; }

body[data-page-id="sponsor"] .link-join {
  margin-top: 100px;
  margin-top: 1rem; }

body[data-page-id="sponsor"] .sponsor-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 50px;
  margin-top: 0.5rem; }

body[data-page-id="sponsor"] .sponsor-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 33%;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-top: 0.5rem; }
  body[data-page-id="sponsor"] .sponsor-item .elm-img {
    width: 220px;
    width: 2.2rem;
    height: auto; }
