extends /_layout/_default-layout

append config-block
  - pageId = 'event-detail'
  - rootPath = '../../'
  - title = `${meta.title} | ${settings.site_name}`

block content-block
  main
    .front-block
      .body.hover-effect
        != body
