extends /_layout/_default-layout

prepend config-block
  - pageName = 'International'

append config-block
  - pageId = 'publication-detail'
  - rootPath = '../../'

block content-block
  main
    .front-block
      .publication-list
        - publicationArr = _.filter(bibArr, function(bib) { return bib.entryTags.type === 'international'; });
        each publication in publicationArr
          .publication-item
            +publication(publication)
