.display-none {
  display: none;
}

.pc-none {
  @include env-pc {
    display: none;
  }
}

.sp-none {
  @include env-sp {
    display: none;
  }
}


html {
  font-size: #{$px-per-rem}px;
}

body {
  font-size: $base-font-size;

  font-family: $sans-serif;
  line-height: 1.5;
}

main {
  display: block;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.hover-effect {
  a {
    display: inline-block;

    position: relative;

    color: $accent-color;

    &::after {
      content: "";

      position: absolute;

      left: 0;
      bottom: 0;

      width: 0%;
      transition: width 0.1s ease-out;

      height: 1px;

      border-bottom: 1px solid $accent-color;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  .no-hover-effect {
    &,
    a,
    .elm-a {
      &::after {
        width: 0;
      }
    }
  }
}
