.wba-breadcrumb-list {
  position: static;

  .list {
    position: relative;
  }

  .item {
    display: inline-block;

    margin: 0;

    &::before {
      content: " > ";
    }

    &:first-child {
      &::before {
        display: none;
      }
    }
  }
}
