.wba-button {
  display: flex; /* 子要素をflexboxで揃える */
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center;  /* 子要素をflexboxにより中央に配置する */

  .elm-button,
  .elm-a {
    display: inline-block;

    min-width: px(200);
    max-width: px(300);

    padding: px(14) px(20);

    text-align: center;

    font-size: px(14);

    border: px(2) solid;
    border-color: #e8e8e8;
    transition: border-color 0.1s linear;

    color: #898989;

    background-color: $white;

    &:hover {
      border-color: #d0d0d0;
    }
  }
}
