.wrapper {
  @include mq-small {
    overflow: hidden;
  }

  @include mq-large {
    width: 100%;
    min-width: $wrapper-width--pc;

    overflow: hidden;
  }
}

.front-block {
  width: px(350);
  margin: 0 auto;

  @include mq-large {
    width: px(960);
  }
}

.page-title {
  font-size: px(26);
}