.wrapper {
  @include mq-small {
    overflow: hidden;
  }

  @include mq-medium {
    width: px(750);
  }

  @include mq-large {
    width: 100%;
    min-width: $wrapper-width--pc;

    overflow: hidden;
  }
}