$img_path: '../img';

// ==========================================================================
// Global config file
// ==========================================================================

// Colors
// ==========================================================================
// main color
$main-color: #c1272d !default;

// accent
$accent-color: #00b19e !default;
// background
$bg-color: #fff !default;
$sub-bg-color: #eeeeee !default;
// font
$font-color: #333333 !default;
// sub font color
$sub-font-color: #898989 !default;
// links
$link-color: #09f !default;
$link-color-hover: $link-color !default;
$link-color-visited: #90f !default;
$link-color-active: null !default;
// border
$border-color: #ebebeb !default;
// key color
$black: #000000;
$white: #ffffff;


// Fonts
// ==========================================================================
$sans-serif: Karla, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", sans-serif;
$serif:      "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$montserrat: Montserrat, Arial, sans-serif;
$base-font-size--sp: px(15);
$base-font-size--pc: px(15);
$line-height--sp: 1.3;
$line-height--pc: 1.3;

// Sizing
// ==========================================================================
$px-per-rem: 100;

$wrapper-width--sp: px(320);
$wrapper-width--pc: px(750);
$wrapper-width--tab: px(960);

$inner-width--pc: px(960);

// Global margin(paragraph)
// ==========================================================================
$base-margin: 0;

// Media queries
// ==========================================================================
$breakpoint: 740px;

// Mixin variables
// ==========================================================================
// テキストを隠す方向
$hide-text-direction: right;
// Browser support (old compass)
$legacy-support-for-ie: false;
$legacy-support-for-ie8: false;
